<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moon Light</title>
    <style>
        .blog__details__desc h1, h2, h3, h4, h5, h6 {
            color: #fff;
            font-family: 'Poppins', sans-serif;
        }
        .blog__details__item img{
            width: 100%;
        }
    </style>
</head>
<body>
    <div layout:fragment="content">
        <!-- Breadcrumb Begin -->
        <div class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__links">
                            <a th:href="@{/home}"><i class="fa fa-home"></i>Trang chủ</a>
                            <a th:href="@{/blog}">Bài viết</a>
                            <span th:text="${blogDetail.get().title}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Blog Details Section Begin -->
        <section class="blog-details spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="blog__details__content">
                            <div class="blog__details__item">
                                <img th:src="@{'/getimage/'+ ${blogDetail.get().image}}" alt="">
                                <div class="blog__details__item__title">
                                    <h4 th:text="${blogDetail.get().title}"></h4>
                                    <ul>
                                        <li>by <span th:text="${blogDetail.get().admin.userName}"></span></li>
                                        <li th:text="${blogDetail.get().createAt}"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="blog__details__desc" th:utext="${blogDetail.get().content}"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="blog__sidebar">
                            <div class="section-title">
                                <h4>Bài viết mới</h4>
                            </div>
                            <div class="blog__sidebar__item" th:each="news : ${listNews}">
                                <a th:href="@{/blogdetail/{id}(id = ${news.id})}" class="blog__feature__item">
                                    <div class="blog__feature__item__pic">
                                        <img th:src="@{'/getimage/'+ ${news.image}}" alt="">
                                    </div>
                                    <div class="blog__feature__item__text">
                                        <h6 th:text="${news.title}"></h6>
                                        <span th:text="${news.createAt}"></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Details Section End -->
    </div>
</body>
</html>