<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{homeCms}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <div class="row" layout:fragment="content">
  <div class="col-lg-12">
    <h2>LOẠI SẢN PHẨM</h2>
    <div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
    <div class="text-right" >
      <button class="btn btn-success" data-toggle="modal" data-target="#modalinsert"> Thêm</button>
    </div>
    <div><hr></div>

    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped" id="bang">
        <thead class="table">
        <tr>
          <th>Stt</th>
          <th>Mã loại</th>
          <th>Tên loại sản phẩm</th>
          <th>Sửa</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category ,state : ${categories}">
          <td th:utext="${state.count}">Stt</td>
          <td th:text="${category.id}"></td>
          <td th:text="${category.name}"></td>
          <td>
            <button
                    th:attr="data-id=${category.id},data-name=${category.name}" name="edit"  class="editcategories btn btn-primary"><i
                    class="fa fa-pencil-square-o">
            </i></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- modal thêm -->
  <div class="modal fade" id="modalinsert" >
    <div class="modal-dialog">
      <div class="modal-content">
        <form th:action="@{/admin/categories/insert}" th:object="${categories}" method="post" role="form">
          <div class="modal-header">
            <legend>Thêm thông tin loại sản phẩm</legend>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="">Tên loại sản phẩm</label><span id="errorname"></span>
              <input type="text" class="form-control" id="name" name="name"  value="" onblur="checkname();" Required>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit"  name="insert_categories" class="btn btn-primary">Thêm</button>
          </div>
        </form>
      </div>

    </div>
  </div>

  <!-- modal -->

  <div class="modal fade" id="modalupdate" >
    <div class="modal-dialog">
      <div class="modal-content">
        <form th:action="@{/admin/categories/update}" th:object="${categories}" method="post" role="form">
          <div class="modal-header">
            <legend>Sửa thông tin loại sản phẩm</legend>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="">ID</label>
              <input type="text" class="form-control" id="eid" name="id" value=""  readonly>
            </div>

            <div class="form-group">
              <label for="">Tên loại sản phẩm</label><span id="errorname"></span>
              <input type="text" class="form-control" id="ename" name="name" onblur="checkename();" value="" Required>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit"  name="update_categories" class="btn btn-primary">Sửa</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div >
</body>
</html>