<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moon Light</title>
</head>
<body>
    <div class="home" layout:fragment="content">
        <section class="banner1">
      <img th:src="@{'/getsystemimageweb/bg1.jpg'}" id="bg">
      <img th:src="@{'/getsystemimageweb/moon.png'}" id="moon">
      <img th:src="@{'/getsystemimageweb/mountain.png'}" id="mountain">
      <img th:src="@{'/getsystemimageweb/road.png'}" id="road">
      <h2 id="text">Moon Light</h2>
    </section>
      <!-- Product Section Begin -->
        <section class="product spad">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 col-md-4">
                      <div class="section-title">
                          <h4>Sản phẩm mới</h4>
                      </div>
                  </div>
                  <div class="col-lg-8 col-md-8">
                      <ul class="filter__controls">
                          <li class="active" data-filter="*">All</li>
                          <li th:each="category :${listCategories}" th:data-filter="${category.name}" th:text="${category.name}"></li>
                      </ul>
                  </div>
              </div>
              <div class="row property__gallery">
                  <div  id="product" class="col-lg-3 col-md-4 col-sm-6 mix" th:each="product : ${listProducts}">
                      <div class="product__item">
                          <div class="product__item__pic set-bg" th:data-id="${product.id}" th:data-setbg="'/getimage/'+ ${product.mainImage}">
                              <ul class="product__hover">
                                  <li><a href="#detail" data-toggle="modal" data-target="#detail" class="detail" th:id="${product.id}"><span class="fa fa-eye"></span></a></li>
                                  <li><a  class="heart" th:id="${product.id}"><span class="icon_heart_alt"></span></a></li>
                                  <li><a href="#order" class="order" th:id="${product.id}"><span
                                          class="icon_bag_alt" type='buy'></span></a></li>
                              </ul>
                          </div>
                          <div class="product__item__text">
                              <h6>
                                  <a th:href="@{/product/{id}(id = ${product.id})}" th:text="${product.name}"></a>
                              </h6>
                              <div class="product__price" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + đ"></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Phân trang  -->
<!--          <div class="col-lg-12 text-center">-->
<!--              <div class="pagination__option">-->
<!--                  <?php-->
<!--                for ($i = 1; $i <= $pagess; $i++){-->
<!--                    ?>-->
<!--                  <a href="index.php?pages=<?php echo $i; ?>"> <?php echo $i; ?></a>-->
<!--                  <?php-->
<!--                }-->
<!--                ?>-->
<!--                  <a href="index.php?pages=2"><i class="fa fa-angle-right"></i></a>-->
<!--              </div>-->
<!--          </div>-->

      </section>
      <!-- Product Section End -->
        <!-- Banner Section Begin -->
        <section class="banner set-bg" data-setbg="/getsystemimageweb/aurora.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-8 m-auto">
                        <div class="banner__slider owl-carousel">
                            <div class="banner__item">
                                <div class="banner__text">
                                    <span>The Moon Light Collection</span>
                                    <h1>The Project Telescope</h1>
                                    <a href="index.php?page=shop">Shop now</a>
                                </div>
                            </div>
                            <div class="banner__item">
                                <div class="banner__text">
                                    <span>The Moon Light Collection</span>
                                    <h1>The Project Camera</h1>
                                    <a href="index.php?page=shop">Shop now</a>
                                </div>
                            </div>
                            <div class="banner__item">
                                <div class="banner__text">
                                    <span>The Moon Light Collection</span>
                                    <h1>The Project Accessory</h1>
                                    <a href="index.php?page=shop">Shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner Section End -->
        <!-- Trend Section Begin -->
        <section class="trend spad">
            <div class="container">
                <div class="row">
                    <!-- NEW -->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="trend__content">
                            <div class="section-title">
                                <h4>Mới</h4>
                            </div>
                            <div class="trend__item" th:each="productNew : ${listProductsNew}">
                                <div class="trend__item__pic">
                                    <img width="90" height="90" th:src="@{'/getimage/'+ ${productNew.mainImage}}" alt="">
                                </div>
                                <div class="trend__item__text">
                                    <h6>
                                        <a href="" th:text="${productNew.name}"></a>
                                    </h6>
                                    <div class="product__price" th:text="${#numbers.formatDecimal(productNew.price, 0, 'COMMA', 0, 'POINT')} + đ"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- HOT -->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="trend__content">
                            <div class="section-title">
                                <h4>Hot</h4>
                            </div>
                            <div class="trend__item" th:each="productHot : ${listProductsHot}">
                                <div class="trend__item__pic">
                                    <img width="90" height="90" th:src="@{'/getimage/'+ ${productHot.mainImage}}" alt="">
                                </div>
                                <div class="trend__item__text">
                                    <h6>
                                        <a href="" th:text="${productHot.name}"></a>
                                    </h6>
                                    <div class="product__price" th:text="${#numbers.formatDecimal(productHot.price, 0, 'COMMA', 0, 'POINT')} + đ"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- HIGHT CLASS -->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="trend__content">
                            <div class="section-title">
                                <h4>Cao cấp</h4>
                            </div>
                            <div class="trend__item" th:each="productHightClass: ${listProductsHightclass}">
                                <div class="trend__item__pic">
                                    <img width="90" height="90" th:src="@{'/getimage/'+ ${productHightClass.mainImage}}" alt="">
                                </div>
                                <div class="trend__item__text">
                                    <h6>
                                        <a href="" th:text="${productHightClass.name}"></a>
                                    </h6>
                                    <div class="product__price" th:text="${#numbers.formatDecimal(productHightClass.price, 0, 'COMMA', 0, 'POINT')} + đ"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- Trend Section End -->
  </div>
</body>
</html>