<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moon Light</title>
    <style>
      .shop__cart__table tbody tr .cart__quantity .pro-qty .qtybtn{
        color: #fff;
      }
      .totalPrice{
        font-weight: bold;
        color: #c82333;
        padding-bottom: 20px;
      }
    </style>
</head>
<body>
  <div layout:fragment="content">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb__links">
              <a th:href="@{/home}"><i class="fa fa-home"></i> Trang chủ</a>
              <span>Giỏ hàng</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Cart Section Begin -->
    <section class="shop-cart spad">
      <div class="container" th:if="${session.myCartItems}">
        <div class="row">
          <div class="col-lg-12">
            <div class="shop__cart__table" id="cart">
              <table id="data-cart">
                <thead>
                <tr>
                  <th>Sản phẩm</th>
                  <th>Giá</th>
                  <th>Số lượng</th>
                  <th>Tổng tiền</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="cart : ${session.myCartItems}">
                  <td class="cart__product__item">
                    <div style="width: 100px;"><img th:src="@{'/getimage/'+ ${cart.getValue().getProducts().mainImage}}" alt=""></div>
                    <div class="cart__product__item__title">
                      <h6 th:text="${cart.getValue().getProducts().name}"></h6>
                    </div>
                  </td>
                  <td class="cart__price" th:text="${#numbers.formatDecimal(cart.getValue().getProducts().price, 0, 'COMMA', 0, 'POINT')}"></td>
                  <td class="cart__quantity">
                    <div class="pro-qty">
                      <span class="dec qtybtn" th:id = "${cart.getValue().getProducts().id}" th:name="${cart.getValue().getQuantity()}">-</span>
                      <input min="1" th:id = "${cart.getValue().getProducts().id}" type="number" class="update-cart" pattern="[0-9]" th:value="${cart.getValue().getQuantity()}" readonly>
                      <span class="inc qtybtn" th:id = "${cart.getValue().getProducts().id}" th:name="${cart.getValue().getQuantity()}">+</span>
                    </div>
                  </td>
                  <td class="cart__total" th:text="${#numbers.formatDecimal(cart.getValue().getProducts().price*cart.getValue().getQuantity(), 0, 'COMMA', 0, 'POINT')}"></td>
                  <td><button class="btn-danger del-cart" th:id="${cart.getValue().getProducts().id}" style="border: 0px;border-radius: 50%; width: 40px;height: 40px"><span class="icon_close"></span></button></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="cart__btn">
              <a th:href="@{/home}">Mua tiếp</a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 " id="test">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
          </div>
          <div class="col-lg-4 offset-lg-2" id="total-price">
            <div class="cart__total__procced total-price">
              <h6>Giá trị đơn hàng</h6>
                <span  class="totalPrice" th:text="${#numbers.formatDecimal(session.myCartTotal, 0, 'COMMA', 0, 'POINT')} +đ"></span>
              <a th:href="@{/checkout}" class="primary-btn">Thanh toán</a>
            </div>
          </div>
        </div>
      </div>
      <div class="container" th:if="${session.myCartItems == null}">
        <div class="col-md-6 offset-md-3">
          <div class="noti_listProduct">
            <h4>Giỏ hàng trống</h4>
            <div class="link">
              <a th:href="@{/home}">Về Trang Chủ</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Shop Cart Section End -->
  </div>
</body>
</html>