<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moon Light</title>
  <style>
    .proDes p{
      color: #0b0b0b;
    }
    .proDes li{
      text-align: left;
    }
  </style>
</head>
<body>
  <div layout:fragment="content">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb__links">
              <a th:href="@{/home}"><i class="fa fa-home"></i>Trang chủ</a>
              <span>Cửa hàng</span>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--     Breadcrumb End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <div class="shop__sidebar">
              <div class="sidebar__categories">
                <div class="section-title">
                  <h4>Danh mục</h4>
                </div>
                <div class="categories__accordion">
                  <div class="accordion" id="accordionExample">
                    <div class="card" th:each="category:${listCategories}">
                      <div class="card-heading ">
                        <a th:data-filter="'.'+ 'pro'+${category.id}+'cat'" th:text="${category.name}"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-9 col-md-9">
            <div class="row property__gallery">
              <div th:class="'col-lg-3 col-md-4 col-sm-6 mix '+ 'pro'+${product.category.id}+'cat'" th:each="product:${listProducts.content}">
                <div class="product__item">
                  <div class="product__item__pic set-bg" th:data-setbg="'/getimage/'+ ${product.mainImage}">
                    <ul class="product__hover">
                      <li><a href="#detail" data-toggle="modal" data-target="#detail" class="detail" th:id="${product.id}"><span class="fa fa-eye"></span></a></li>
                      <li><a class="heart" th:id="${product.id}" ><span class="icon_heart_alt"></span></a></li>
                      <li><a href="#order" class="order" th:id="${product.id}"><span
                              class="icon_bag_alt"></span></a></li>
                    </ul>
                  </div>

                  <div class="product__item__text">
                    <h6><a th:href="@{/product/{id}(id = ${product.id})}" th:text="${product.name}"></a>
                    </h6>
                    <div class="product__price" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + đ"></div>
                  </div>
                </div>
              </div>
              <!-- Phân trang  -->
              <div class="col-lg-12 text-center">
                <div class="pagination__option">
                  <a  th:each="i: ${#numbers.sequence( 0, page,1)}" th:text="${i+1}" class="page" th:id="${i}" th:href="@{'/shop?p='+${i}}"></a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Shop Section End  -->

    <div class="modal fade" id="detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg ">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Xem nhanh thông tin</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-md-6" id="imgDetail">
                  <img src="" alt="">
                </div>
                <div class="col-md-6" style="text-align: center;">
                  <h3></h3><br>
                  <div class="proDes"></div>
                  <h4></h4><br>
                  <div class="product__details__button">
                    <a href="#order" class="cart-btn" id="" style="float: none;"><span class="icon_bag_alt"></span>Thêm giỏ hàng</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>