<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moon Light</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="entry-content single-page">
                <div class="breadcrumb-option">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="breadcrumb__links">
                                    <a th:href="@{/home}"><i class="fa fa-home"></i>Trang chủ</a>
                                    <span>Bảo hành</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 style="text-align: center; color: #fff3cd;">Bảo hành</h2>
                <p>Mọi vấn đề về bảo hành vui lòng liên hệ Sơn: 0929 557 336 để được tư vấn.</p>
                <p>I. Chính sách bảo hành:</p>
                <p>Khách hàng được trả hoặc đổi sản phẩm mới cùng loại trong vòng 5 ngày tính từ ngày nhận hàng nếu sản phẩm gặp sự cố (do lỗi kỹ thuật từ nhà sản xuất).<br>
                    Tất cả các sản phẩm đều được bảo hành 1 năm kể từ ngày bàn giao.<br>
                    Trong thời gian bảo hành, nếu sản phẩm bị lỗi do nhà sản xuất sẽ được thay thế, sửa chữa phần linh kiện bị lỗi và hỗ trợ kỹ thuật miễn phí.<br>
                    Hết thời gian bảo hành, sản phẩm vẫn được hỗ trợ sửa chữa miễn phí trọn đời.<br>
                    Không bảo hành đối với trường hợp do người sử dụng gây ra (ví dụ: Rơi vỡ, va đập, ngâm nước, để sản phẩm trong điều kiện thời tiết khắc nghiệt quá nóng, ẩm hoặc lạnh…).<br>
                    Chi phí vận chuyển để bảo hành sẽ do khách hàng trả.<br>
                    II. Điều kiện đổi trả sản phẩm:</p>
                <p>Sản phẩm vẫn còn nguyên tem bảo hành.<br>
                    Sản phẩm nhận lại không bị lỗi hình thức (rơi vỡ, trầy xước, móp méo, ố vàng, vỡ, cong vênh…)<br>
                    Sản phẩm còn đầy đủ linh phụ kiện, tặng phẩm kèm theo.<br>
                    Sản phẩm nhận lại phải đảm bảo còn đầy đủ bao bì, đóng gói cẩn thận tránh hỏng hóc trong quá trình vận chuyển.<br>
                    III. Điều kiện bảo hành</p>
                <p>Sản phẩm có phiếu bảo hành, nguyên tem bảo hành mà không bị tẩy xóa hoặc sửa chữa.<br>
                    Các sản phẩm khi gửi bảo hành phải đươc đóng gói đúng quy cách, bên trong kèm phiếu bảo hành và ghi rõ địa chỉ người gửi, số điện thoại liên hệ.<br>
                    Chúng tôi không chịu trách nhiệm khi sản phẩm bị thất lạc, rơi vỡ trên đường vận chuyển.<br>
                    Số seri trên sản phẩm phải trùng khớp với số seri ghi trên phiếu bảo hành.<br>
                    Các bạn cần bào hành vui lòng đến:</p>
                <ul>
                    <li style="color: #fff3cd">Địa chỉ cửa hàng :</li>
                </ul>
                <p> Số 324 – Thụy Khuê – Tây Hồ – Hà Nội</p>
        </div>
    </div>
</body>
</html>